body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 87.5%;
	background-color: #2E0936;

}

/*===============================*/
/* CSS for the main content divs */
/*===============================*/

.mainContent {
	max-width: 1170px;
	width: 90%;
	margin: 40px auto 90px auto;
	font-size: 0;
	font-weight: 300;
}

.mainContent > div {

	vertical-align: top;
	color: #DDD;
	font-size: 0.95rem;
}

.mainContent div + p {
	margin-top: 10px !important;
}
.mainContent div p {
	margin: 0 10px 5px 10px;
	cursor: default;
}

.mainContent ul li {
	margin-bottom: 20px;
	list-style-type: square;
}

.to_left {
	float: left;
}

.to_right {
	float: right;
}

.mainContent div {
	-moz-user-select: none; 
  	-webkit-user-select: none; 
}

.flip-container {
	-webkit-perspective: 1000;
}


.flip {
	transform: rotateY(180deg);
   	-webkit-transform: rotateY(180deg);
}


.switch {
	margin: 1px 1px 0 0;
	opacity: 0.7;
}
.switch:hover {
	cursor: pointer;
	opacity: 1.0;
}


.flipper {
	transition: 0.6s;
    -webkit-transition: 1.0s;
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.front {
	z-index: 2;
}

.back {
	transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


.me-container {
	width: 30%;
	height: 450px;
}
#me > div {
	width: 100%;
	height: 450px;
}
#me .front {
	background-image: url('images/obama.jpg');
	background-size: 100% 450px;
}
#me .back {
	background-image: url('images/clooney.jpg');
	background-size: 100% 450px;
}


#blog {
	width: 39%;
	height: 450px;
	background-color: #00A000;
}


.about-container {
	width: 30%;
	height: 270px;
}
#about > div {
	width: 100%;
	height: 270px;
}
#about .front {
	background-color: #DC572E;
}
#about .back {
	background-color: #EF9611;
}
#about a {
	text-decoration: none;
	color: #9FE9DC;
	text-transform: uppercase;
	font-size: 0.8rem;
}
#about a:visited {
	text-decoration: none;
	color: blue;
}



#projects {
	width: 30%;
	height: 580px;
	background-color: #009BAD;
}

#music {
	width: 31.5%;
	height: 400px;
	background-color: #623DBD;
}

#stanford {
	width: 37.5%;
	height: 400px;
	background-color: #BB1D48;
}

#stanford-block {
	width: 60px;
	height: auto;
	position: relative;
	top: -9px;

}

#peru {
	width: 24%;
	height: 400px;
	background-color: #623DBD;
}
#peru-flag {
	margin-right: 10px;
	display: inline-block;
	box-shadow: 0px 0px 10px #000; 
}

#more {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 0.7rem;
	font-style: italic;
	float: right;
	margin-top: 10px;
	letter-spacing: 0.2rem;
	color: #EEE;
}

.margin_right {margin-right: 0.5%;} /* Updated with jquery */
.margin_top {margin-top: 0.5%;} /* Updated with jquery */

.clear {
	clear: both;
}

/*===============================*/
/*CSS for Styling within sections
/*===============================*/

.section-title {
	font-family: 'Prociono', serif;
	font-size: 1.2rem;
	color: #FFE9DC;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-left: 5px;
}

/*=========================*/
/* CSS for footer sections */
/*=========================*/



.footer-container {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #ECECEF;
	line-height: 50px;
	opacity: 0.7;
}

.footer-container:hover {
	opacity: 1.0;
}

.footer-text {
	font-weight: 300;
	color: #8E8E8E;
	/*color: black;*/
}

.footer {
	max-width: 1170px;
	width: 90%;
	margin: 0 auto;

}

.rights-reserved {
	text-transform: uppercase;
	color: blue;
	font-size: 0.7rem;
}

.social_icon_container {
	width: auto;
	height: 50px;
	float: right;
	overflow: hidden;
}

.social_icon_container > img{
	vertical-align: middle;
	padding-left: 10px;
	margin-bottom: 3px;
}

.social_icon {
    display: inline-block;
    width: 40px;
    height: auto;
    opacity: 0.7;
}

.social_icon:hover {
    opacity: 1.0;
    cursor: pointer;
}

/*===========================*/
/*====== Media Queries ======*/
/*===========================*/

@media only screen and (max-width : 780px) {

	body {
		clear: both;
		font-size: 90%;
	}

	.mainContent {
		width: 95%;
		margin-top: 2.5%;
	}

	.flip-container {
		position: relative;
	}

	.mainContent > div {
		width: 100% !important;
		height: auto !important;
		clear: both !important;
	}


	.margin_right, .margin_top {
		margin: 0 !important;
	}



}







